<ion-header no-border>

  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding class="vertical-align-content">
  <h1 text-center>{{sensor.name}}</h1>
  <p text-center>Locate the sensor. In your kit that matches this serial number: </p>
  <h2 text-center>{{sensor.TXID}}</h2>
  <button ion-button outline center-button  (click)="goSetupStep()">Next</button>
</ion-content>