page-gs-sensor-details {
  h2 {
    font-family: 'Roboto-Medium';
    font-size: 20px;
    line-height: 24px;
    color: color($colors, primary);
  }
  .vertical-align-content > *
  {
    flex-direction: column;
    display: flex!important;
    justify-content: center;
  }
}
