<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons start>
      <button ion-button icon-only (click)="returnToStatusScreen()">
        <ion-icon [name]="headerIcon"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{title}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="installStatus.getLocationStatusCode() != 1" class="formBackground">
    <div id="addLocationPhoto" *ngIf="installStatus.getLocationStatusCode() == 0">
      <img src="assets/imgs/add-photo-header.svg">
    </div>
    <div id="editLocationPhoto" *ngIf="installStatus.getLocationStatusCode() == 2">Edit Photo</div>
    <form padding mode="md" [formGroup]="locationInfo" (ngSubmit)="createLocation()">
      <h1>Enter a name for your premises</h1>

      <ion-item>
        <ion-label floating>Premises Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>


      <h1>Enter your premises address</h1>
      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-input formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Address 2</ion-label>
        <ion-input formControlName="address2"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>City</ion-label>
        <ion-input formControlName="city"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>State</ion-label>
        <ion-input formControlName="state"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Zip Code</ion-label>
        <ion-input formControlName="zipcode"></ion-input>
      </ion-item>

      <h1>Enter your premises phone number (optional). If set, this is the first number monitoring will call in an emergency.</h1>
      <ion-item>
        <ion-label floating>Premises Phone (optional)</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>

      <!--<button ion-button outline type="submit">1</button>
      
      
      <button ion-button outline type="submit" [disabled]="!locationInfo.valid">2</button>-->

      <button ion-button outline type="submit" [disabled]="!locationInfo.valid" *ngIf="installStatus.getLocationStatusCode() == 0">Add</button>
      <button ion-button outline type="submit" [disabled]="!locationInfo.valid" *ngIf="installStatus.getLocationStatusCode() == 1">Edit</button>
  
    </form>
  </div>

  <div *ngIf="installStatus.getLocationStatusCode() == 1">
    <h1 text-center status-header>Add Location</h1>
    <div class="loading-spinner">
      <img class="status-spinner" src="assets/imgs/loader.svg">
      <img class="status-icon" src="assets/imgs/AddLocationIcon.svg">
    </div>
    <p text-center status-label>Adding&hellip;</p>
    <button ion-button clear center-button (click)="doCancelCreateLocation()">Cancel</button>
  </div>
</ion-content>