<ion-header no-border>

  <ion-navbar>
    <!--<ion-title>GsAddingSensors</ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center status-header>Add Sensors</h1>
  <div class="loading-spinner">
    <img class="status-spinner" src="assets/imgs/loader.svg">
    <img class="status-icon" src="assets/imgs/add-location-icon.svg">
  </div>
  <p text-center status-label>Adding&hellip;</p>
  <button ion-button clear center-button (click)="cancelSensorAdd()">Cancel</button>
</ion-content>