<ion-header no-border>

  <ion-navbar hideBackButton="true">
    <!--<ion-title>GsSensorTest</ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="loading-spinner">
    <img class="status-spinner" src="assets/imgs/sensor-test-icon.svg">
  </div>


  <p text-center padding>Please do the install test...</p>


  <button ion-button outline center-button (click)="doSensorTestComplete()">Complete</button>
  <button ion-button clear center-link (click)="doSensorTestCancel()">Cancel</button>
</ion-content>