<ion-header no-border>
  <ion-navbar hideBackButton="true">
    <ion-buttons left>
      <button ion-button icon-only (click)="cancelSetup()">
        <ion-icon [name]="headerIcon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-slides (ionSlideDidChange)="updateSlide($event)">
    <ion-slide>

      <h1>Hello {{user.firstName}}</h1>
      <p padding>We’ll walk you through the following steps to set up your system.</p>

      <ion-grid>
        <ion-row center (click)="goUserSlide()">
          <ion-col width-25 center status-icon-col><img src="assets/imgs/create-user.svg"></ion-col>
          <ion-col width-75 status-text-col>Create User</ion-col>
        </ion-row>

        <ion-row center>
          <ion-col width-25 center status-connector><img src="assets/imgs/line.svg"></ion-col>
        </ion-row>

        <ion-row center (click)="goLocationSlide()">
          <ion-col width-25 center status-icon-col><img src="assets/imgs/add-location.svg"></ion-col>
          <ion-col width-75 status-text-col>Add Location</ion-col>
        </ion-row>

        <ion-row center>
          <ion-col width-25 center status-connector><img src="assets/imgs/line.svg"></ion-col>
        </ion-row>

        <ion-row center (click)="goSystemSlide()">
          <ion-col width-25 center status-icon-col><img src="assets/imgs/configure-system.svg"></ion-col>
          <ion-col width-75 status-text-col>Configure System</ion-col>
        </ion-row>

        <ion-row center>
          <ion-col width-25 center status-connector><img src="assets/imgs/line.svg"></ion-col>
        </ion-row>

        <ion-row center (click)="goSensorsSlide()">
          <ion-col width-25 center status-icon-col><img src="assets/imgs/add-sensors.svg"></ion-col>
          <ion-col width-75 status-text-col>Add Sensors</ion-col>
        </ion-row>

        <ion-row center>
          <ion-col width-25 center status-connector><img src="assets/imgs/line.svg"></ion-col>
        </ion-row>

        <ion-row center>
          <ion-col width-25 center status-icon-col><img src="assets/imgs/final-setup.svg"></ion-col>
          <ion-col width-75 status-text-col>Finalize Setup</ion-col>
        </ion-row>
      </ion-grid>

      <button ion-button outline center-button (click)="goSetupStep()">Begin Setup</button>
    </ion-slide>

    <ion-slide>
      <div *ngIf="installStatus.getUserStatusCode() == 0">
        <h1 status-header>Create User</h1>
        <img status-circle src="assets/imgs/create-user-main.svg">
        <p incomplete>{{installStatus.getUserStatus()}}</p>
        <img dots src="assets/imgs/dots1.svg">
        <button ion-button outline center-button (click)="goCreateUserScreen()">Create</button>
      </div>

      <div *ngIf="installStatus.getUserStatusCode() == 2">
        <h1 status-header>Edit User</h1>
        <!--<img src="avatarPhoto" >-->
        <img status-circle src="assets/imgs/create-user-done.svg">
        <h2>{{user.getFullName()}}</h2>
        <p complete>{{user.phone}}</p>
        <p complete>{{user.email}}</p>
        <img dots src="assets/imgs/dots1.svg">
        <button ion-button outline center-button (click)="goCreateUserScreen()">Edit</button>
        <p swipe-left>Swipe Left to Continue</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div *ngIf="installStatus.getLocationStatusCode() == 0">
        <h1 status-header>Add Location</h1>
        <img status-circle src="assets/imgs/add-location-main.svg">
        <p incomplete>{{installStatus.getLocationStatus()}}</p>
        <img dots src="assets/imgs/dots2.svg">
        <button ion-button outline center-button (click)="goCreateLocation()">Add</button>
      </div>

      <div *ngIf="installStatus.getLocationStatusCode() == 2">
        <h1 status-header>Edit Location</h1>
        <!--<img src="photo" >-->
        <img status-circle src="assets/imgs/add-location-done.svg">
        <h2>{{location.name}}</h2>
        <p complete>{{location.address}}</p>
        <p complete>{{location.address2}}</p>
        <p complete>{{location.city}}, {{location.stateRegion}}, {{location.zipCode}}</p>
        <img dots src="assets/imgs/dots2.svg">
        <button ion-button outline center-button (click)="goCreateLocation()">Edit</button>
        <p swipe-left>Swipe Left to Continue</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div *ngIf="installStatus.getSystemStatusCode() == 0">
        <h1 status-header>Configure System</h1>
        <img status-circle src="assets/imgs/configure-system-main.svg">
        <p incomplete>{{installStatus.getSystemStatus()}}</p>
        <img dots src="assets/imgs/dots3.svg">
        <button ion-button outline center-button (click)="goConfigureSystem()">Configure</button>
      </div>

      <div *ngIf="installStatus.getSystemStatusCode() == 2">
        <h1 status-header>Configure System</h1>
        <img status-circle src="assets/imgs/configure-system-done.svg">
        <p complete>{{installStatus.getSystemStatus()}}</p>
        <img dots src="assets/imgs/dots3.svg">
        <p swipe-left>Swipe Left to Continue</p>
      </div>
    </ion-slide>

    <ion-slide>
      <div *ngIf="installStatus.getSensorsStatusCode() == 0">
        <h1 status-header>Configure Sensors</h1>
        <img status-circle src="assets/imgs/add-sensors-main.svg">
        <p incomplete>{{installStatus.getSensorStatus()}}</p>
        <img dots src="assets/imgs/dots4.svg">
        <button ion-button outline center-button (click)="goConfigureSensors()">Configure</button>

      </div>
      <div *ngIf="installStatus.getSensorsStatusCode() == 2">
        <h1 status-header>Edit Sensors</h1>
        <img status-circle src="assets/imgs/add-sensors-done.svg">
        <p complete>{{installStatus.getSensorStatus()}}</p>
        <img dots src="assets/imgs/dots4.svg">
        <button ion-button outline center-button (click)="goConfigureSensors()">Edit</button>
      </div>
    </ion-slide>

    <ion-slide>
      <div *ngIf="installStatus.getStatusCode() == 0">
        <h1 status-header>Finalize Setup</h1>
        <img status-circle src="assets/imgs/finalize-setup-main.svg">
        <p incomplete>{{installStatus.getStatus()}}</p>
        <img dots src="assets/imgs/dots5.svg">
        <button ion-button outline center-button disabled>Finalize</button>
      </div>
      <div *ngIf="installStatus.getStatusCode() == 2">
        <h1 status-header>Finalize Setup</h1>
        <img status-circle src="assets/imgs/finalize-setup-done.svg">
        <p complete>{{installStatus.getStatus()}}</p>

        <p padding aside-text>You have successfully set up your system. Press Finish and sign in with your username and password to get started.</p>
        <img dots src="assets/imgs/dots5.svg">
        <button ion-button outline center-button>Finalize</button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>