<ion-header no-border>

  <ion-navbar hideBackButton="true">
    <!--<ion-title>gsScanPanelLoading</ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center status-header>Loading Setup</h1>
 
  <div class="loading-spinner">
    <img class="status-spinner" src="assets/imgs/loader.svg">
    <img class="status-icon" src="assets/imgs/setup-icon.svg">
  </div>

  <p text-center status-label>Loading&hellip;</p>
  <button ion-button clear center-button (click)="cancelSetupLoad()">Cancel</button>
</ion-content>