<ion-header no-border>

  <ion-navbar hideBackButton="true">
    <!--<ion-title></ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div *ngIf="saveStatus == 0">

    <h1 text-center status-header>Configuring&hellip;</h1>

    <div class="loading-spinner">
      <img class="status-spinner" src="assets/imgs/loader-filled.svg">
      <img class="status-circle" src="assets/imgs/status-check-icon.svg">
    </div>

  </div>

  <div *ngIf="saveStatus == 1">
    <h1 text-center status-header>Success</h1>
    <div class="loading-spinner">
      <img class="status-spinner" src="assets/imgs/status-check-complete-icon.svg">
    </div>

    <button ion-button outline center-button (click)="doSensorInstall()">Install</button>
    <button ion-button clear center-button (click)="doSkipSensorInstall()">Skip</button>
  </div>

  <div *ngIf="saveStatus == 3">
    <h1>Error</h1>
  </div>

</ion-content>