<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons start>
      <button ion-button icon-only (click)="returnToStatusScreen()">
        <ion-icon [name]="headerIcon"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{title}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="installStatus.getSystemStatusCode() == 0">
    <p text-center>Follow the instructional video to install your security system. Once installed, press Configure to continue.</p>
    <!--<video />-->
    <button ion-button outline center-button (click)="doConfigureSystem()">Configure</button>
  </div>

  <div *ngIf="installStatus.getSystemStatusCode() == 1">
    <h1 text-center status-header>Configure System</h1>
    <div class="loading-spinner">
      <img class="status-spinner" src="assets/imgs/loader.svg">
      <img class="status-icon" src="assets/imgs/configure-system-icon.svg">
    </div>
    <p text-center status-label>Configuring&hellip;</p>
    <button ion-button clear center-button (click)="doCancelConfigureSystem()">Cancel</button>
  </div>
</ion-content>