page-gs-create-user {
  .scroll-content {
    background-color: #ffffff;
    background-image: none !important;
  }

  .button-outline-md {
    border-width: 2px;
    border-style: solid;
    border-color: #476A77;
    color: #476A77;
    background-color: transparent;
    box-shadow: none;
    border-radius: 5px;
    float: right;
    margin-bottom: 4rem;
    margin-top: 4rem;
    min-width: 33%;
  }

  p {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    color: #666666;
    font-weight: normal;
    padding-top: 4rem;
  }

  ion-label {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    color: #aaaaaa !important;
  }

  ion-item {
    padding-top: 1rem !important;
  }

  [validationCheck] {
    height: 4rem;
  }

  [helpText] {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
    color: #95989A;
    padding-top: 0;
  }

  .text-input {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    // letter-spacing: .2em;
    text-align: left;
    color: #666666;
}

  .item-md {
    padding-left: 0;
  }

  .item-inner {
    border-bottom-color: rgba(149, 152, 154, .15);
  }

  .item-md.item-input.input-has-focus .item-inner{
   border-bottom-color: rgba(149, 152, 154, .15);
    box-shadow: none;
  }

  .item-md.item-input, .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
     border-bottom-color: rgba(149, 152, 154, .15);
  }

  .item-md.item-block .item-inner {
     //border-bottom-color: #95989A;
     border-bottom-color: rgba(149, 152, 154, .15);
  }
  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner
  {
    //border-bottom-color: #95989A;
    border-bottom-color: rgba(149, 152, 154, .15);
    box-shadow: none;
  }
  ion-grid {
    padding: 0;
  }
  ion-col {
    padding-left: 0;
  }

}
