<ion-header no-border>
  <ion-toolbar mode="ios">
    <ion-buttons start>
      <button ion-button icon-only (click)="returnToStatusScreen()">
        <ion-icon [name]="headerIcon"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>{{title}}</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngIf="installStatus.getUserStatusCode() != 1">

    <div id="addPhoto" *ngIf="installStatus.getUserStatusCode() == 0">
      <img src="assets/imgs/add-user-photo-header.svg">
    </div>
    <div id="editPhoto" *ngIf="installStatus.getUserStatusCode() == 2">Edit Photo</div>

    <form padding mode="md" [formGroup]="userInfo" (ngSubmit)="createUser()">
      <ion-item>
        <ion-label stacked>First Name</ion-label>
        <ion-input type="text" formControlName="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Last Name</ion-label>
        <ion-input formControlName="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Phone</ion-label>
        <ion-input formControlName="phone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>Email</ion-label>
        <ion-input formControlName="email"></ion-input>
      </ion-item>

      <p>Create a unique username and password. You will use these credentials to sign into the app and web portal.</p>

      <ion-grid>
        <ion-row>
          <ion-col width-90>
            <ion-item>
              <ion-label stacked>Username</ion-label>
              <ion-input formControlName="username"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col bottom>
            <img validationCheck *ngIf="!userInfo.controls['username'].valid" src="assets/imgs/status-incomplete.svg" />
            <img validationCheck *ngIf="userInfo.controls['username'].valid" src="assets/imgs/status-good.svg" />
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row>
          <ion-col width-90>
            <ion-item>
              <ion-label stacked>Password</ion-label>
              <ion-input formControlName="password"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col bottom>
            <img validationCheck *ngIf="!userInfo.controls['password'].valid" src="assets/imgs/status-incomplete.svg" />
            <img validationCheck *ngIf="userInfo.controls['password'].valid" src="assets/imgs/status-good.svg" />
          </ion-col>
        </ion-row>
      </ion-grid>
      <p helpText>Must be 5-15 characters</p>
      <!--<p *ngIf="userInfo.controls.password.errors?.rangeLength">Range Issue</p>-->
      <!--*ngIf="!complexForm.controls['gender'].valid && complexForm.controls['gender'].touched"-->



      <p>Create a 4-digit numeric panel access code. You will use this to disarm your security system.</p>
      <ion-grid>
        <ion-row>
          <ion-col width-90>
            <ion-item>
              <ion-label stacked>Panel Access Code</ion-label>
              <ion-input formControlName="accessCode"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col bottom>
            <img validationCheck *ngIf="!userInfo.controls['accessCode'].valid" src="assets/imgs/status-incomplete.svg" />
            <img validationCheck *ngIf="userInfo.controls['accessCode'].valid" src="assets/imgs/status-good.svg" />
          </ion-col>
        </ion-row>
      </ion-grid>

      <p>Create a verbal password. Monitoring will use this to identify you over the phone.</p>
      <ion-grid>
        <ion-row>
          <ion-col width-90>
            <ion-item>
              <ion-label stacked>Verbal Password</ion-label>
              <ion-input formControlName="passphrase"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col bottom>
            <img validationCheck *ngIf="!userInfo.controls['passphrase'].valid" src="assets/imgs/status-incomplete.svg" />
            <img validationCheck *ngIf="userInfo.controls['passphrase'].valid" src="assets/imgs/status-good.svg" />
          </ion-col>
        </ion-row>
      </ion-grid>

      <p>How would you like to notified?</p>
      <ion-item>
        <ion-label>Push Notification</ion-label>
        <ion-toggle mode="ios" color="secondary" item-right formControlName="pushNotification"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-toggle mode="ios" color="secondary" item-right formControlName="emailNotification"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Text</ion-label>
        <ion-toggle mode="ios" color="secondary" item-right formControlName="textNotification"></ion-toggle>
      </ion-item>

      <!--<button ion-button type="submit" [disabled]="!userInfo.valid">Create</button>-->
      <button ion-button outline type="submit" *ngIf="installStatus.getUserStatusCode() == 0">Create</button>
      <button ion-button outline type="submit" *ngIf="installStatus.getUserStatusCode() == 2">Update</button>
    </form>
  </div>

  <div *ngIf="installStatus.getUserStatusCode() == 1">
    <h1 text-center status-header>Create User</h1>
    <div class="loading-spinner">
      <img class="status-spinner" src="assets/imgs/loader.svg">
      <img class="status-icon" src="assets/imgs/create-user-icon.svg">
    </div>
    <p text-center status-label>Creating&hellip;</p>
    <button ion-button clear center-button (click)="doCancelCreateUser()">Cancel</button>
  </div>
</ion-content>