<ion-header no-border>
  <ion-navbar >
    <ion-title>SecureNET</ion-title>
    <!--<ion-title>{{ 'HELLO' | translate }}</ion-title>-->
    <!--<ion-title><span translate>HELLO</span></ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content padding>
  <button ion-button clear (click)="doGettingStarted()">Getting Started</button>
</ion-content>
