<ion-header no-border>

  <ion-navbar>
    <ion-title>Panel Activation</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <img center-img src="assets/imgs/2GIG-Rely-Panel.png">
  <h1 text-center>2GIG Rely</h1>
  <h1 text-center>ID: {{panelID}}</h1>
  <p text-center>Please enter your activation code.</p>

  <form [formGroup]="activationCode" (ngSubmit)="activationCodeInput()">
    <ion-item>
      <ion-input type="text" formControlName="code" name="activationCode"></ion-input>
    </ion-item>

    <button ion-button outline center-button [disabled]="!activationCode.valid" type="submit">Submit</button>
  </form>
</ion-content>