<ion-header no-border>

  <ion-navbar hideBackButton="true">
    <!--<ion-title>GsSensorInstall</ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content>
  <h1 text-center status-header padding>Install sensor</h1>
  
  <!--<video>-->
  <img src="assets/imgs/video-placeholder.svg" >

  <p text-center padding>Follow the instructional video to install your sensor. Once installed, press Continue.</p>

  <button ion-button outline center-button padding (click)="doInstallContinue()">Continue</button>
  <button ion-button clear center-link padding (click)="skipInstallerTest()">Click Here to Continue without Testing</button>
</ion-content>