// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-content {
  background: url('../assets/imgs/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #3b4d55;
}

ion-title {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 24px;
  color: color($colors, primary);
}

button {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  color: color($colors, primary);
}

.alert-md [aria-checked=true] .alert-radio-label {
  color: #000;
}

.alert-md [aria-checked=true] .alert-radio-icon {
  border-color: #000;
}

.alert-md [aria-checked=true] .alert-radio-inner {
  background-color: #000;
}

button .alert-radio {
  color: #000;
}

ion-alert button .button-inner {
  color: #000;
}

h1 {
  font-family: 'Roboto';
  font-size: 20px;
  line-height: 24px;
  color: color($colors, primary);
  margin-top: 0;
  margin-bottom: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

p {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  color: color($colors, primary);
}

[status-header] {
  font-family: 'Roboto';
  font-size: 24px;
  line-height: 28px;
  color: color($colors, primary);
  margin-top: 4rem;
  margin-bottom: 4rem;
}

[status-label] {
  font-family: 'Roboto-Medium';
  font-size: 20px;
  line-height: 24px;
  color: color($colors, primary);
  margin-top: 8rem;
}

[center-button] {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 5px;
}

[center-img],
[center-link] {
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

[status-icon-col] {
  height: 45px !important;
  img {
    max-width: 52px !important;
  }
}

[status-text-col] {
  color: color($colors, primary);
  text-align: left;
  font-family: 'Roboto-Light';
  font-size: 16px;
  line-height: 19px;
}

[status-connector] {
  height: 18px !important;
  img {
    max-width: 2px !important;
  }
}

[status-circle] {
  margin-bottom: 4rem;
}

[dots] {
  display: block;
  width: 50% !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

[incomplete] {
  font-family: 'Roboto-Medium';
  font-size: 20px;
  line-height: 24px;
  color: #95989a;
}

[complete] {
  font-family: 'Roboto-Medium';
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

[aside-text] {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
}

[swipe-left] {
  font-family: 'Roboto-Medium';
  font-size: 16px;
  line-height: 19px;
  color: #95989a;
  text-align: center;
}

[sensor-instruction] {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 19px;
  color: color($colors, primary);
}

.loading-spinner {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.status-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
}

.status-circle {
  position: absolute;
  top: 0;
  left: 0;
}

.item-md,
.item-ios {
  background: transparent;
}

.text-input {
  font-family: 'Roboto-Medium';
  font-size: 20px;
  line-height: 24px;
  letter-spacing: .2em;
  text-align: center;
  color: color($colors, primary);
}



.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
  border-bottom-color: color($colors, primary);
  box-shadow: inset 0 -1px 0 0 color($colors, primary);
}

.list-md {
  margin-bottom: 0;
}

//$text-input-highlight-color-valid: rgba(149, 152, 154, .15);
//$text-input-highlight-color-invalid: rgba(149, 152, 154, .15);	

//.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner
//border-bottom-color: #32db64;
//box-shadow: inset 0 -1px 0 0 #32db64;
//.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner
// .toolbar-background {
//     background-image-width: 0;
// }