<ion-header no-border>

  <ion-navbar>
    <!--<ion-title>gsSensorSetup</ion-title>-->
    <ion-buttons end>
      <button ion-button (click)="cancelSensorSetup()">
        Skip
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>{{sensor.name}}</h1>
 
  <form [formGroup]="sensorConfig" (ngSubmit)="configSensor()">
    <p text-center sensor-instruction>Where are you installing it?</p>
    <ion-list>
      <ion-item>
        <ion-label>Location Name</ion-label>
        <ion-select mode="ios" formControlName="locationName">
          <ion-option *ngFor="let locationName of locationNames" value="{{locationName.name}}">{{locationName.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    
     <button ion-button outline center-button type="submit" [disabled]="!sensorConfig.valid">Next</button>
  </form>
  
</ion-content>