page-gs-sensor-setup {
  ion-select {
    width: 100%;
    max-width: 100%;
  }

 .item-block{
    margin-top: 2rem;
  }

  p {
    margin-top: 2rem;
  }
  //Select Item
  .item-select {
    border-bottom: 1px solid rgba(255, 255, 255, .15);
  }
  .item-md.item-block .item-inner {
    padding-right: 0;
  }
  .select-ios {
    padding-right: 0;
    padding-left: 0;
  }
  .select-ios .select-icon {
    border: 0;
    width: 2rem;
    height: 2rem;
    color: #fff;
    background: url('../assets/imgs/chevron-right.svg') center right;
    background-size: contain;
    background-origin: border-box;
  }
  .select-ios .select-icon .select-icon-inner {
    border: 0;
  }
  .select-text {
    font-family: 'Roboto';
    font-size: 16px;
    color: color($colors, primary);
  }
}
