<ion-header no-border>

  <ion-navbar>
    <!--<ion-title>gsScanPanelManual</ion-title>-->
  </ion-navbar>

</ion-header>


<ion-content padding>
  <p text-center>Please enter the account number from the Account ID field on the back of the panel.</p>

  <form [formGroup]="accountID" (ngSubmit)="manualCodeInput()">
    <ion-item>
      <ion-input type="text" formControlName="accountNumber" name="accountNumber"></ion-input>
    </ion-item>

    <button ion-button outline center-button [disabled]="!accountID.valid" type="submit">Next</button>
  </form>

</ion-content>