<ion-header no-border>
  <ion-navbar>
    <ion-title>Scan Panel</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <p text-center>Using your smartphone camera, scan the QR code on the bottom of your panel.</p>
  <img center-img src="assets/imgs/QRCodeScan.png">
  <button ion-button outline block center-button (click)="doPanelScan()">Scan</button>

  <a center-link (click)="doManualPanelCode()">Press Here to Enter Manually</a>
</ion-content>
