page-gs-sensor-list {
  background-color: #fafafa;
  background-image: none !important;
  .infoText {
    background-color: #fafafa;
    
    p {
      color: #666;
      font-family: "Roboto";
      font-size: 16px;
      line-height: 19px;
    }
  }

  .infoFooter {
    background-color: #fafafa;
    height: 100%;
    p {
      color: #666;
      font-family: "Roboto";
      font-size: 16px;
      line-height: 19px;
    }
  }

  ion-item {
    h2, h3 {
      color: #222222;
      font-family: "Roboto";
      font-size: 16px;
      line-height: 19px;
    }
    img {
      max-height: 2rem;
   }  
  }

  ion-col {
    text-align: center;
  }

  .button-outline-md {
    border-width: 2px;
    border-style: solid;
    border-color: #476A77;
    color: #476A77;
    background-color: transparent;
    box-shadow: none;
    border-radius: 5px;
    width: 100%;
  }

}
