<ion-header no-border>

  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div padding class="infoText">
    <p>Select a sensor below to add it to your security system.</p>
  </div>
  <ion-list>
    <ion-item-sliding *ngFor="let sensor of userSensors" #slidingItem>
      <ion-item (click)="goSensorDetails(sensor)">
        <img src="assets/imgs/{{ sensor.type | sensorIcon}}" item-left/>
        <h2>{{sensor.name}}</h2>
        <h3>TX ID:{{sensor.TXID}}</h3>
        <img src="assets/imgs/{{ sensor.status | sensorStatus}}" item-right/>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="deleteSensor(slidingItem, sensor)">
          <!--<ion-icon name="ios-trash-outline"></ion-icon>-->
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div *ngIf="sensors.getSensorStatus() == false" padding class="infoFooter">
    <p>You must configure all sensors before continuing.</p>
  </div>
  <div *ngIf="sensors.getSensorStatus() == true" padding class="infoFooter">
    <p>All sensors are configured. If you have no more sensors to add, press continue to finish setup.</p>
    <ion-grid>
      <ion-row center>
        <ion-col center width-50>
          <button ion-button outline (click)="addNewSensor()">Add Sensor</button>
        </ion-col>

        <ion-col center width-50>
          <button ion-button outline (click)="addAllSensors()">Continue</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>