<ion-header no-border>

  <ion-navbar>
    <!--<ion-title>gsSensorSetup</ion-title>-->
    <ion-buttons end>
      <button ion-button (click)="cancelSensorSetup()">
        Skip
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 text-center>{{sensor.name}}</h1>
  <p text-center sensor-instruction>Where will you be installing this sensor?</p>

  <form [formGroup]="sensorConfig" (ngSubmit)="configSensor()">
    <ion-segment mode="ios" formControlName="sensorType">
      <ion-segment-button value="door" checked="true" (ionSelect)="selectedDoor()">
        Door
      </ion-segment-button>
      <ion-segment-button value="window" (ionSelect)="selectedWindow()">
        Window
      </ion-segment-button>
    </ion-segment>

    <p text-center sensor-instruction>Where are you installing it?</p>
    <ion-list>
      <ion-item>
        <ion-label>Location Name</ion-label>
        <ion-select mode="ios" formControlName="locationName">
          <ion-option *ngFor="let locationName of locationNames" value="{{locationName.name}}">{{locationName.name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <ion-item>
      <ion-checkbox mode="md" formControlName="isExit" item-right></ion-checkbox>
      <ion-label>Is this an exit door?</ion-label>
    </ion-item>

    <button ion-button outline center-button type="submit" [disabled]="!sensorConfig.valid">Next</button>
  </form>

</ion-content>