page-gs-sensor-dw-setup {
  ion-segment {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  ion-segment-button {
    text-transform: uppercase;
  }
  ion-select {
    width: 100%;
    max-width: 100%;
  }
  .item-block {
    margin-top: 2rem;
  }
  p {
    margin-top: 2rem;
  }
  //Button Segement
  .segment-ios .segment-button {
    border-color: #ccc;
    text-transform: uppercase;
    font-family: 'Roboto-Medium';
    font-size: 14px;
    color: color($colors, primary);
  }
  .segment-ios .segment-button:first-of-type {
    border-radius: 5px 0 0 5px;
  }
  .segment-ios .segment-button.segment-activated {
    background-color: rgba(255, 255, 255, .1);
    color: color($colors, primary);
  }
  //Select Item
  .item-select {
    border-bottom: 1px solid rgba(255, 255, 255, .15);
  }
  .item-md.item-block .item-inner {
    padding-right: 0;
  }
  .select-ios {
    padding-right: 0;
    padding-left: 0;
  }
  .select-ios .select-icon {
    border: 0;
    width: 2rem;
    height: 2rem;
    color: #fff;
    background: url('../assets/imgs/chevron-right.svg') center right;
    background-size: contain;
    background-origin: border-box;
  }
  .select-ios .select-icon .select-icon-inner {
    border: 0;
  }
  .select-text {
    font-family: 'Roboto';
    font-size: 16px;
    color: color($colors, primary);
  }
  //Check Box
  .checkbox-md .checkbox-icon {
    background-color: transparent;
    border-color: rgba(255, 255, 255, .54);
  }
  .checkbox-md .checkbox-checked .checkbox-inner {
    border-color: rgba(255, 255, 255, .54);
  }
  .item-md {
    font-family: 'Roboto';
    font-size: 16px;
    color: color($colors, primary);
  }
  .item-md.item-block .item-inner {
    border: none;
  }
  //
}

//.item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner
// .toolbar-background {
//     background-image-width: 0;
// }